@page "/admin"
@attribute [Authorize(Roles = "Admin")]
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@using PredictionsClient.Components

<h3>Admin Dashboard</h3>

<AuthorizeView>
    <Authorized>
        @* Admin content goes here *@
        <div class="admin-container">
            <h4>User Management</h4>
            <UserManagementComponent />
            <h4>Match Management</h4>
            <MatchManagementComponent />
        </div>
    </Authorized>
    <NotAuthorized>
        <p>You don't have permission to view this page.</p>
    </NotAuthorized>
</AuthorizeView>