@using SharedDtos
@page "/predictions"
@inject HttpClient Http

<h1>Predictions</h1>

@if (matches == null)
{
    <p>Loading...</p>
}
else
{
    <ul>
        @foreach (var match in matches)
        {
            <li>@match.Team1.Teamname vs @match.Team2.Teamname</li>
        }
    </ul>
}

@code {
    private List<MatchDto>? matches;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            matches = await Http.GetFromJsonAsync<List<MatchDto>>("api/matches");
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error: {ex}");
            // Handle error
        }
    }
}